.App {
  text-align: center;
  background-image: linear-gradient(to bottom, #1c7f38, #17702b, #11621e, #0a5412, #034605);
  height: 100vh;
  margin: 0;
}

.total {
  color: whitesmoke;
}

#opening-header {
  text-align: center;
}

.hands {
  min-height: calc(80vh - 100px);
}

.delt-card {
  display: inline-block;
  margin: 0.2em;
}

img {
  display: inline;
}

.br-5 {
  border-radius: 5px;
}

li {
  margin-top: 10px;
}

.game-board {
  display: inline-block;
  height: 100%;
  margin: 0;
}

.dealer-hand {
  display: block;
  padding-top: 50px;
}
.player-hand {
  margin-top: 70px;
}

.game-buttons {
  margin: 0.6em;
  height: 50px
}